<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="~{layout/header}"></div>
</head>
<body>
<div th:insert="~{layout/navbar}"></div>

<div class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                <img class="card-img-top mb-5 mb-md-0" th:src="${product.imagePath}" style="max-width: 600px; max-height: 700px;"/>
            </div>

            <div class="col-md-6">
                <input type="hidden" id="productId" th:value="${product.id}"/>
                <div class="small mb-1" th:text="${product.nickname}">업로더 이름</div>
                <h1 class="display-5 fw-bolder" th:text="${product.title}">제목</h1>
                <div class="fs-5 mb-5">
                    <span th:text="${product.price}">가격</span>
                </div>
                <p class="lead" th:text="${product.description}">설명</p>
                <div>
                    <form id="chat-open" th:if="${product.userId} != ${#authentication.principal.user.id}">
                        <input type="hidden" id="sellerId" th:value="${product.userId}">
                        <input type="hidden" id="buyerId" th:value="${#authentication.principal.user.id}">
                        <button type="submit" class="btn btn-outline-dark flex-shrink-0">1:1 대화</button>
                    </form>

                    <a th:href="@{/product/updateForm/{id}(id=${product.id})}" class="btn btn-outline-dark flex-shrink-0"
                       th:if="${product.userId} == ${#authentication.principal.user.id}">수정</a>

                    <form id="product-delete">
                        <button type="submit" class="btn btn-danger mb-1"
                                th:if="${product.userId} == ${#authentication.principal.user.id}">삭제</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:insert="~{layout/footer}"></div>
<script src="/js/product.js"></script>
<script src="/js/chatRoom.js"></script>
</body>
</html>